@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;700&family=Poppins&display=swap');
@import './base.css';
@import './typography.css';
@import './layout/header.css';
@import './layout/sidebar.css';
@import './layout/footer.css';
@import './layout/content.css';
@import './ui/buttons.css';

body {
  background-color: hsl(0, 0%, 14%);
  background-image: url('../assets/images/egg-shell.png');
  color: var(--text-color);
  min-height: 100vh;
}

body * {
  color: var(--text-color);
}


.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px auto 50px;
  margin: 0 auto;
  max-width: 1536px;
  box-shadow: 2px 0 9px hsla(0, 10%, 6%, 0.65),
    -2px 0 9px hsla(0, 10%, 6%, 0.65);
  min-height: 100vh;
  border-width: 0 2px;
  border-color: hsla(0, 0%, 11%, 0.349);
  border-style: solid;
}


@media screen and (min-width: 768px) {
  .app {
    grid-template-columns: 200px repeat(4, 1fr);
  }

}


.example-1 h2 {
  color: red;
}

.example-2 h2 {
  color: rgb(0, 17, 255);
}

.example-3 h2 {
  color: rgb(0, 255, 64);
}